package components

templ About() {
	@Layout("About") {
		<p>This is the about page.</p>
		<button
 			hx-get="/"
 			hx-swap="outerHTML"
 			hx-target="h1"
 			hx-select="h1"
 			class="bg-blue-400"
		>
			Swap the title to Home
		</button>
	}
}
