package components

templ Index() {
	@Layout("Home") {
		<p>This is the home page.</p>
		<button
 			hx-get="/about"
 			hx-swap="outerHTML"
 			hx-target="h1"
 			hx-select="h1"
 			class="bg-red-400"
		>
			Swap the title to About
		</button>
	}
}
